* {
    margin: 0;
    padding: 0 auto;
}


/* ---------------- CORPO GERAL DO PROJETO */
body {
    background-color: #111a20;
}


/* ---------------- HEADER */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Jost', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    background-color: #17232b;
    padding: 26px 27px;
}

nav menu {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 34px;
}

nav menu a {
    color: white;
    text-decoration: none;
}

nav menu a:hover {
    color: #ffa97a;
}

#navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
}

.nome_navbar a {
    font-size: 28px;
}

/* ------------------ HOME  */

#home {
    text-align: center;
    margin: 0px 177px 0px 177px;
    padding: 120px 290px 0px 290px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.texto_home {
    color: white;
    font-family: 'Jost', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.texto_home .cargo {
    color: #ffa97a;
}

.botoes_home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}

.botoes_home a {
    border: 1px solid #ffa97a;
    padding: 13px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.botoes_home .b_sobre {
    color: #17232b;
    background-color: #ffa97a;
}

.imagem_home {
    margin: 0px 75px 0px 75px;
    background-color: #ffa97a;
    border-radius: 70px 70px 20px 20px;
}

.imagem_home img {
    width: 275px;
    height: 275px;
}

/* --------------- SOBRE */

#sobre {
    text-align: center;
    margin: 0px 177px 0px 177px;
    padding: 85px 22px 36px 51px;
    display: flex;
    flex-direction: column;
    gap: 78px;
}

.titulo_sobre {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.titulo_sobre h1 {
    color: #ffa97a;
    font-family: 'Jost', sans-serif;
}

.titulo_sobre h5 {
    color: #767676;
}

.cont_sobre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 28px;
}

.img_cont_sobre {
    margin: 0px 75px 0px 75px;
    background-color: #ffa97a;
    border-radius: 30px;
}

.img_cont_sobre img {
    display: flex;
    justify-content: end;
    width: 275px;
    height: 275px;
    border-radius: 27px;
}

.texto-box-button_cont_sobre {
    display: flex;
    flex-direction: column;
    gap: 63px;
}

.texto_cont_sobre p {
    color: #959595;
    text-align: justify;
}

.box_cont_sobre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.box_cont_sobre .box {
    width: 130px;
    height: 100px;
}

.box_sobre img {
    width: 35px;
    height: 35px;
}

.box_sobre {
    background-color: #182228;
    border-radius: 15px;
    padding: 12px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.box_sobre h5 {
    color: #959595;
}

.box_sobre p {
    color: #ffa97a;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}

.button_cont_sobre {
    display: flex;
    justify-content: center;
}

.button_contate-me {
    padding: 13px;
    background-color: #ffa97a;
    border: 1px solid #ffa97a;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
}

.button_contate-me a {
    color: #17232b;
    text-decoration: none;
}

/* ------------ MINHAS EXPERIENCIAS (EXP) */

#exp {
    text-align: center;
    margin: 0px 177px 0px 177px;
    padding: 85px 22px 36px 51px;
    display: flex;
    flex-direction: column;
    gap: 78px;
}

.titulo_exp {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.titulo_exp h1 {
    color: #ffa97a;
    font-family: 'Jost', sans-serif;
}

.titulo_exp h5 {
    color: #767676;
}

.titulo_box_exp {
    text-align: justify;
    color: #ffffff;
}

.titulo_box_exp p {
    color: #767676;
    font-size: 14px;
}

.box_expgeral {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 88px;
    width: 100%;
}

.box_exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    border-radius: 20px;
    background-color: #182228;
    padding: 22px 44px 63px 31px;
    width: 300px;
    height: 250px;
    align-items: flex-start;
}

.hab_box_expgeral {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.hab_box_exp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.hab_box_exp h4 {
    color: white;
    font-weight: bold;
}

.hab_box_exp p {
    color: #767676;
    font-size: 11px;
    font-family: 'Jost', sans-serif;
}

.hab {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.barra_box_exp {
    width: 100%;
    height: 5px;
    background-color: #767676;
    border-radius: 20px;
}

/* //detalhamento das barra_box's// */