* {
    margin: 0;
    padding: 0 auto;
}

:root {
    --color-principal: #97cadb;
    --color-principal2: #02457a;
    --color-bg: #111a20;
    --color-bg-nav: #17232b;
    --color-bg-fraco: #d6e8ee;
    --color-branco: #ffffff;
    --color-box: #182228;
}


/* --------------------------------- CORPO GERAL DO PROJETO */
body {
    background-color: var(--color-bg);
}

/* ----------------------------------------- HEADER */
nav {
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Jost', sans-serif;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    color: var(--color-branco);
    background-color: var(--color-bg-nav);
    padding: 26px 27px;
}

i#burguer {
    display: none;
}

.nome_navbar {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#itens {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 34px;
}

#itens ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 55px;
}

#itens li {
    list-style: none;
}

#itens a {
    color: var(--color-branco);
    text-decoration: none;
}

#itens a:hover {
    color: var(--color-principal);
}

#navbar a {
    text-decoration: none;
    color: var(--color-branco);
    font-weight: bold;
    font-family: 'Jost', sans-serif;
}

.nome_navbar a {
    font-size: 28px;
}

/* ------------------------------------------ HOME  */

#home {
    text-align: center;
    margin: 0px 177px 0px 177px;
    padding: 120px 290px 60px 290px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.texto_home {
    color: var(--color-branco);
    font-family: 'Jost', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.texto_home .cargo {
    color: var(--color-principal);
}

.botoes_home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}

.botoes_home a {
    border: 1px solid var(--color-principal);
    padding: 13px;
    border-radius: 5px;
    color: var(--color-branco);
    text-decoration: none;
}

.botoes_home .b_sobre {
    color: var(--color-bg-nav);
    background-color: var(--color-principal);
}

.imagem_home {
    margin: 0px 75px 0px 75px;
    background-color: var(--color-principal);
    border-radius: 70px 70px 20px 20px;
}

.imagem_home img {
    width: 275px;
    height: 275px;
}


/* ---------------------------------------- SOBRE */

#sobre {
    border-top: 1px solid #767676;
    text-align: center;
    margin: 0px 177px 0px 177px;
    padding: 85px 22px 96px 51px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.titulo_sobre {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.titulo_sobre h1 {
    color: var(--color-principal);
    font-family: 'Jost', sans-serif;
}

.titulo_sobre h5 {
    color: #767676;
}

.cont_sobre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 28px;
}

.img_cont_sobre {
    margin: 0px 75px 0px 75px;
    background-color: var(--color-principal);
    border-radius: 30px;
}

.img_cont_sobre img {
    display: flex;
    justify-content: end;
    width: 275px;
    height: 275px;
    border-radius: 27px;
}

.texto-box-button_cont_sobre {
    display: flex;
    flex-direction: column;
    gap: 63px;
}

.texto_cont_sobre p {
    color: #959595;
    text-align: justify;
}

.box_cont_sobre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.box_cont_sobre .box {
    width: 130px;
    height: 100px;
}

.box_sobre img {
    width: 35px;
    height: 35px;
}

.box_sobre {
    background-color: var(--color-box);
    border-radius: 15px;
    padding: 12px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.box_sobre h5 {
    color: #959595;
}

.box_sobre p {
    color: var(--color-principal);
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}

.button_cont_sobre {
    display: flex;
    justify-content: center;
}

.button_contate-me {
    padding: 13px;
    background-color: var(--color-principal);
    border: 1px solid var(--color-principal);
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
}

.button_contate-me a {
    color: var(--color-bg-nav);
    text-decoration: none;
}

/* ---------------------------- MINHAS EXPERIENCIAS (EXP) */

#exp {
    border-top: 1px solid #767676;
    text-align: center;
    margin: 0px 177px 0px 177px;
    padding: 85px 22px 66px 51px;
    display: flex;
    flex-direction: column;
    gap: 78px;
}

.titulo_exp {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.titulo_exp h1 {
    color: var(--color-principal);
    font-family: 'Jost', sans-serif;
}

.titulo_exp h5 {
    color: #767676;
}

.titulo_box_exp {
    text-align: justify;
    color: #ffffff;
}

.titulo_box_exp p {
    color: #767676;
    font-size: 14px;
}

.box_expgeral {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 88px;
    width: 100%;
}

.box_exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    border-radius: 20px;
    background-color: var(--color-box);
    padding: 22px 44px 63px 31px;
    width: 300px;
    height: 250px;
    align-items: flex-start;
}

.hab_box_expgeral {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.hab_box_exp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.hab_box_exp h4 {
    color: var(--color-branco);
    font-weight: bold;
}

.hab_box_exp p {
    color: #767676;
    font-size: 11px;
    font-family: 'Jost', sans-serif;
}

.hab {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.barra_box_exp {
    width: 100%;
    background-color: var(--color-bg-fraco);
}

.barra_box_exp,
.barra_frente {
    border-radius: 20px;
    height: 5px;
}

/* //detalhamento das barra_box's// */

.barra_frente {
    background-color: var(--color-principal2);
    opacity: 100%;
}

.hab_1 {
    width: 90%;
}

.hab_2 {
    width: 75%;
}

.hab_3 {
    width: 30%;
}

.hab_4 {
    width: 45%;
}

.hab_5 {
    width: 50%;
}

.hab_6 {
    width: 35%;
}

/* ---------------------------------- SERVIÇOS */

#serv {
    border-top: 1px solid #767676;
    text-align: center;
    margin: 0px 177px 0px 177px;
    padding: 90px 22px 80px 51px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo_serv {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.titulo_serv h1 {
    color: var(--color-principal);
    font-family: 'Jost', sans-serif;
}

.titulo_serv h5 {
    color: #767676;
}

.box_servgeral {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.box_serv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    border-radius: 20px;
    background-color: var(--color-box);
    padding: 40px 44px 40px 31px;
    width: 300px;
    height: 150px;
    align-items: flex-start;
}


.titulo_box_serv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 14px;
    text-align: justify;
    color: var(--color-branco);
    font-size: 16px;
}

.titulo_box_serv p {
    color: #767676;
    font-size: 14px;
}


.box_serv p {
    color: #767676;
    text-align: justify;
}

.button_contate-me_serv {
    width: 100%;
    display: flex;
    justify-content: end;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
}

.button_contate-me_serv a {
    background-color: var(--color-box);
    border: 1px solid var(--color-principal);
    color: var(--color-branco);
    padding: 9px;
    border-radius: 5px;
    text-decoration: none;
}

/* ------------------------------------ WORKS */

#works {
    border-top: 1px solid #767676;
    text-align: center;
    margin: 0px 177px 0px 177px;
    padding: 90px 22px 20px 51px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.titulo_works {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.titulo_works h1 {
    color: var(--color-principal);
    font-family: 'Jost', sans-serif;
}

.titulo_works h5 {
    color: #767676;
}

.opcoes_works {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.op_works {
    border: 2px solid var(--color-principal);
    padding: 7px 13px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}

.op_works {
    text-decoration: none;
    color: #ffffff;
}

.op1_works {
    background-color: var(--color-principal);
}

.op1_works {
    color: var(--color-box)
}

.proj_works {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.box_proj_works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 17px;
    align-items: flex-start;
    padding: 40px 10px 40px 31px;
    background-color: var(--color-bg-nav);
    border-radius: 20px;
    width: 280px;
    height: 200px;
}

.box_proj_works h3 {
    color: var(--color-branco);
    font-weight: bold;
    font-family: 'Jost', sans-serif;
}

.box_proj_works img {
    width: 245px;
    height: 122;
}

.button_box_works {
    width: 100%;
    display: flex;
    justify-content: start;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
}

.button_box_works a {
    background-color: var(--color-box);
    border: 1px solid var(--color-principal);
    color: var(--color-branco);
    padding: 6px 9px;
    border-radius: 5px;
    text-decoration: none;
}

/* ------------------------------- CONTATE-ME */

#contate-me {
    border-top: 1px solid #767676;
    text-align: center;
    margin: 90px 177px 0px 177px;
    padding: 60px 22px 80px 51px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo_contate-me {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.titulo_contate-me h1 {
    color: var(--color-principal);
    font-family: 'Jost', sans-serif;
}

.titulo_contate-me h5 {
    color: #767676;
}

.redes-sociais_contate-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
}

.button_redes-sociais_contate-me {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 70px;
}

.button_redes-sociais_contate-me a {
    padding: 15px;
    background-color: var(--color-bg-nav);
    border-radius: 20px;
}

/* ------------------------------------ FOOTER  */

#footer {
    background-color: var(--color-principal);
    display: flex;
    flex-direction: column;
    gap: 17px;
    justify-content: center;
    text-align: center;
    padding: 31px 0px 10px 0px;
}

#footer h2 {
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}

.navbar-menu_footer {
    display: flex;
    flex-direction: row;
    gap: 36px;
    justify-content: center;
}

.navbar-menu_footer a {
    text-decoration: none;
    color: var(--color-bg-nav);
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}

.redes-sociais_footer {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.redes-sociais_footer a {
    padding: 5px 7px;
    background-color: var(--color-bg-nav);
    border-radius: 5px;
}

.redes-sociais_footer a img {
    width: 15px;
    height: 15px;
}

.direitos-reservados {
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    padding: 90px 0px 10px 0px;
}

/* ---------------------------- MIDIA QUERY ---------------- */

@media (max-width: 600px) {

    /* responsive: #navbar */
    nav {
        width: 91%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .menu_organizado {
        display: flex;
        flex-direction: row;
        gap: 95px;
    }

    i#burguer {
        display: flex;
        width: fit-content;
        color: var(--color-principal);
    }

    i#burguer:hover {
        color: var(--color-principal);
    }

    .nome_navbar {
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    #itens {
        display: none;
        padding: 20px 0px 0px 0px;
    }

    #itens ul {
        padding: 0px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    nav img {
        display: none;
        width: 55px;
        height: 55px;
    }

    /* responsive: #home */
    #home {
        margin: 0px 5px 0px 5px;
        padding: 120px 10px 150px 5px;
    }

    .img-home {
        padding-top: 65px;
    }

    .imagem_home {
        display: flex;
        justify-content: center;
        margin: 0px 75px 0px 75px;
    }

    /* responsive: #sobre */
    #sobre {
        margin: 0px 5px 0px 5px;
        padding: 120px 10px 36px 10px;
    }

    .cont_sobre {
        display: flex;
        flex-direction: column;
    }

    .img_cont_sobre img {
        height: 280px;
    }

    .box_cont_sobre {
        display: flex;
        flex-wrap: wrap;
    }

    /* responsive: #exp */
    #exp {
        margin: 0px 5px 0px 5px;
        padding: 105px 5px 36px 5px;
    }

    .box_expgeral {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    /* responsividade: #serv */
    #serv {
        margin: 0px 5px 0px 5px;
        padding: 105px 5px 36px 5px;
    }

    .box_servgeral {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }

    .box_serv {
        padding: 55px 44px 55px 31px;
    }

    /* resposividade: #works */

    #works {
        margin: 0px 5px 0px 5px;
        padding: 105px 5px 20px 5px;
    }

    .box_proj_works {
        padding: 40px 30px 40px 30px;
        display: flex;
        align-items: center;
    }

    .proj_works {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button_box_works {
        justify-content: center;
    }

    .box_proj_works img {
        width: 260px;
    }

    /* responsividade: #contate-me */

    #contate-me {
        margin: 90px 5px 0px 5px;
        padding: 90px 5px 80px 5px;
    }

    .redes-sociais_contate-me {
        gap: 10px;
    }

    /* responsividade: #footer */

    #footer {
        gap: 25px;
    }

    .navbar-menu_footer {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }

    .redes-sociais_footer {
        padding-top: 50px;
    }

    .redes-sociais_footer a {
        padding: 10px 10px;
    }

    .redes-sociais_footer a img {
        width: 20px;
        height: 20px;
    }


    .direitos-reservados {
        padding: 30px 0px 10px 0px;
    }
}